/* General Styles */
* {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  background-color: #888;
  text-align: center;
  padding: 20px;
  }

li {
  display: inline;
}

h3 {
  text-align: center;
}

body {
	background-color: #ddd;
}

/* Navigation Bar Styles */
nav {
    overflow: hidden;
    background-color: #888;
  }
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
nav a:hover {
    background-color: #ddd;
    color: black;
	cursor: pointer;
  }

#shopping-cart {
	width: 1.5%;
	height: 1.5%;
	float: right;
	display: block;
	color: #f2f2f2;
}

/* Product Cards on Game Page */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 1s;
}

.card:hover {
	box-shadow: 0px 30px 30px 0px rgba(255, 0, 0, 0.4);
}

.card-image {
	border-radius: 10px;
	width: 100%;
	height: relative;
}

.see-more {
	text-align: right;
	font-size: 11px;
	margin: 5px;
	text-decoration: none;
}


.see-more:hover {
	cursor: pointer;
}

#product-columns {
	float: left;
	margin: 0px;
	width: 25%;
	padding-top: 10px;
}

#product-card-button {
	border: none;
	background-color: black;
	outline: 0;
	color: white;
	text-align: center;
	cursor: pointer;
	padding: 12 px;
	width: 100%;
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
}

#product-card-button:hover {
	opactity: 0.1;
}

/* Contact Card Styles */

.contact-card {
	float: left;
	margin: 0px;
	width: 50%;
}

.contact-picture {
	width: 50%;
	height: relative;
	transform: rotate(90deg);
}

.contacts {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 1s;
}

.contact-name {
	border-radius: 10px 10px 0px 0px;
}

h2 {
	color: gray;
	font-style: italic
}

/* Slideshow Formatting/Styles */
.slideshow {
	box-sizing: border-box;
	max-width: 1000 px;
	position: relative;
	margin: auto;
}

.slideshow-image {
	display: none;
	width: 100%;
}

.slideshow-progress {
	color: #000;
	font-size: 12 px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.slideshow-caption {
	color: 000;
	font-size: 14 px;
	padding: 8px 12 px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.slideshow-move {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 14px;
	transition: 0.5s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.slideshow-move:hover {
	background-color: rgba(0,0,0,1);
}

.slideshow-back {
	left: 0;
	border-radius: 3px 0 0 3px;
}

.slideshow-forward {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.slideshow-dot {
	cursor: pointer;
	height: 5px;
	width: 5px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: bakcground-color 0.6s ease;
}

.dot:hover {
	background-color: #777;
	transition: background-color 0.4s ease;
}